#content
		{

h1 {
    font-size: 1.5em;
    color: #FF0000;
  }
  p {
    margin-bottom: 1em;
    line-height: 1.5em;
  }

ul {
    padding-top:14px;
  }
  li {
    color:$fontcolor1;
    margin-bottom:12px;

	}

}
